.main-container {
    display: flex;
    background-color: #101F30;
    width: 85%;
    height: 85%;
    border-radius: 27px;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}

.post-container {
    width: 66%;
    height: 80%;
    background-color: #9AAFC7;
    border-radius: 27px;
    top: 50%;
    left: 38%;
    position: fixed;
    transform: translate(-50%, -50%);
}

.user-container {
    background-color: #9AAFC7;
    width: 20%;
    height: 80%;
    border-radius: 27px;
    top: 50%;
    left: 85%;
    position: fixed;
    transform: translate(-50%, -50%);
}

.online {
    background-color: #10FC27;
    position: absolute;
    top: 3.5%;
    left: 5%;
    width: 1.5%;
    height: 3%;
    border-radius: 50%;
}

.fa-solid {
    display: none;
    position: absolute;
    left: 62%;
    top: 79%;
}

/* .login {
    position: relative;
    top: 2%;
    left: 87%;
    width: 8%;
    height: 5%;
    border-radius: 27px;
    background-color: #7A7CFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #101F30;
} */


#login-button {
    position: absolute;
    top: 2%;
    left: 87%;
    /* width: 8%;
    height: 5%; */
}


#logout-button {
    display: none;
    position: absolute;
    top: 2%;
    left: 87%;
    /* width: 8%;
    height: 5%; */
}


#post-modal {
    display: none;
    position: absolute;
    width: 75%;
    height: 70%;
    background-color: #101F30;
    z-index: 1;
    justify-content: center;
    left: 13%;
    top: 14%;
    border-radius: 27px;
}

#post-content-text {
    top: 18%;
    background-color: #9AAFC7;
    position: absolute;
    left: 15%;
    border-radius: 27px;
    width: 70%;
    height: 60%;
    resize: none;

}

#post-title-text {
    background-color: #9AAFC7;
    width: 70%;
    border-radius: 27px;
    top: 7%;
    position: absolute;
    left: 15%;
    resize: none;
}

#submit-post-button {
    background-color: #9AAFC7;

    position: relative;
    top: 85%;
    left: 14%;
    width: 73%;
    border-radius: 10px;
    color: #101F30;
}

.modal-body {
    flex-direction: column;
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
}
