
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
  }


#maincontainer{
height: 100vh;
width: 100vw;
background: rgb(61,91,240);
display: flex;
justify-content: center;
align-items: center;
}

#forumbody{
    height: 80vh;
    width: 80vw;
    background: rgb(236, 236, 238);
    border-radius: 5%;
}



#postfeed {
  left: 2%;
  position: relative;
  top: 20%;
  float: left;
  width: 66%;
  height: 75%;
  background: rgb(253, 253, 253);
  border-radius: 5%;
}

#onlineusers {
  bottom: 25%;
  left: 70%;
  position: relative;
  top: 30%;
  width: 28%;
  height: 65%;
  background: rgb(253, 253, 253);
  border-radius: 30px;
}
#new-post-btn {
  position: absolute;
  top:-15%;
  width: 100%;
  background: rgb(61,91,240);
  height: 3vh;
  font-family: 'Work Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
color:white;
text-align: center;
border-radius: 10px;
padding-top: 3%;
}

.header {
    top: 10%;
    height: 5vh;
    padding-top: 5%;
    border-radius: 2%;
    position: absolute;
    width: 80vw;
    z-index: 1;
    overflow: hidden;
    background: rgb(253, 253, 253);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    overflow: hidden;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 50%;
    font-family: 'Work Sans', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
  }
  
  
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }